*~
*.bak
*.cache
*.swap
*.swp
*.temp
*.tmp
*.lock
*.pipe
*.sock
*.socket

*.o
*.a
*.so
*.exe
*.dll

.DS_Store
*.icloud

*.project
*.includepath
*.settings
*.sublime-project
*.sublime-workspace
*.idea
*.vscode

/LOCALNOTES
/Build
/vendor
/testcmd
